[submodule "core/MegaCore"]
	path = core/MegaCore
	url = https://github.com/MCUdude/MegaCore.git
[submodule "lib/VariableTimedAction"]
	path = lib/VariableTimedAction
	url = https://github.com/amirchev/VariableTimedAction.git
[submodule "lib/Adafruit_GPS"]
	path = lib/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS.git
[submodule "lib/HT16K33"]
	path = lib/HT16K33
	url = https://github.com/jonpearse/ht16k33-arduino.git
