[submodule "lib/VariableTimedAction"]
	path = lib/VariableTimedAction
	url = https://github.com/amirchev/VariableTimedAction.git
[submodule "lib/Adafruit_GPS"]
	path = lib/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS.git
